.thead-style{
    background-color:grey;
    color: white;
    text-align: center;
}

.first-tr-style{
    background-color: lightgrey;
}

.second-tr-style{
    background-color:lightgrey;
}

table{
    border:1px solid black;
    padding: 5px;
}

th,td{
    border:1px solid black;
}